.input-form {
    margin-right: 100px;
    margin-bottom: 20px;
    display:inline;
    width: 60%;
    height: 40%;
}
.comment-title{
    margin-top: 20px;
}

#submit-btn{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     width: 130px;
     margin-bottom: 300px;
}